<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">

<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
    <li class="active">
        <a href="#">
            <i class="glyphicon glyphicon-th-large"></i>
            首页
        </a>
    </li>
    <!--<li>-->
        <!--<a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">-->
            <!--<i class="glyphicon glyphicon-cog"></i>-->
            <!--系统管理-->
            <!--<span class="pull-right glyphicon glyphicon-chevron-down"></span>-->
        <!--</a>-->
        <!--<ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">-->
            <!--<li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>-->
            <!--<li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>-->
            <!--<li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>-->
            <!--<li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>-->
            <!--<li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>-->
        <!--</ul>-->
    <!--</li>-->
    <li>
        <a href="/invoice/index">
            <i class="glyphicon glyphicon-credit-card"></i>
            发票管理
        </a>
    </li>

</ul>
</div>
</html>