<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="/layout/js :: #js"></div>
    <div th:replace="/layout/css :: #css"></div>
</head>
<body>
<div th:replace="layout/header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="layout/left"></div>
        </div>
        <div class="col-md-10">
            <div id="main-content">
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">XXX</a></li>
    <li class="active">XX管理</li>
</ol>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group form-group-md">
                <label class="col-md-1 control-label">
                    名称
                </label>
                <div class="col-md-2">
                    <input class="form-control" name="name" type="text"/>
                </div>
                <label class="control-label col-md-1">
                    编码
                </label>
                <div class="col-md-2">
                    <input class="form-control" name="code"/>
                </div>
                <label class="control-label col-md-1">
                    关联号
                </label>
                <div class="col-md-2">
                    <input class="form-control" name="relatedNo"/>
                </div>
                <label class="control-label col-md-1">
                    状态
                </label>
                <div class="col-md-2">
                    <select class="form-control" name="status">
                        <option value="0" selected="selected">初始化</option>
                        <option value="1">启用</option>
                        <option value="2">停用</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-md">
                <label class="control-label col-md-1">
                    来源类型
                </label>
                <div class="col-md-2">
                    <input class="form-control" name="sourceType"/>
                </div>
                <label class="control-label col-md-1">
                    业务类型
                </label>
                <div class="col-md-2">
                    <input class="form-control" name="bizType"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <button type="button" class="btn btn-sm btn-default">查询</button>
                    <button type="button" class="btn btn-sm btn-default">清空</button>
                    <button type="button" class="btn btn-sm btn-default">导出</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table" style="table-layout:fixed">
            <thead>
            <th>名称</th>
            <th>编码</th>
            <th>关联号</th>
            <th>状态</th>
            <th>来源类型</th>
            <th>业务类型</th>
            <th>金额</th>
            <th>创建人</th>
            <th>创建日期</th>
            <th>备注</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr>
                <td>XXX</td>
                <td>code</td>
                <td>WWW-1234</td>
                <td>启用</td>
                <td>网关</td>
                <td>CAINIAO</td>
                <td>123,112.01</td>
                <td>system</td>
                <td>2018-06-20</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">巴拉巴拉巴拉纳balabaababababaaasdfdf</td>
                <td>
                    <button class="btn btn-sm btn-default">查看</button>
                    <button class="btn btn-sm btn-default">修改</button>
                    <button class="btn btn-sm btn-default">停用</button>
                </td>
            </tr><tr>
                <td>XXX</td>
                <td>code</td>
                <td>WWW-1234</td>
                <td>启用</td>
                <td>网关</td>
                <td>CAINIAO</td>
                <td>123,112.01</td>
                <td>system</td>
                <td>2018-06-20</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">巴拉巴拉巴拉纳balabaababababaaasdfdf</td>
                <td>
                    <button class="btn btn-sm btn-default">查看</button>
                    <button class="btn btn-sm btn-default">修改</button>
                    <button class="btn btn-sm btn-default">停用</button>
                </td>
            </tr><tr>
                <td>XXX</td>
                <td>code</td>
                <td>WWW-1234</td>
                <td>启用</td>
                <td>网关</td>
                <td>CAINIAO</td>
                <td>123,112.01</td>
                <td>system</td>
                <td>2018-06-20</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">巴拉巴拉巴拉纳balabaababababaaasdfdf</td>
                <td>
                    <button class="btn btn-sm btn-default">查看</button>
                    <button class="btn btn-sm btn-default">修改</button>
                    <button class="btn btn-sm btn-default">停用</button>
                </td>
            </tr><tr>
                <td>XXX</td>
                <td>code</td>
                <td>WWW-1234</td>
                <td>启用</td>
                <td>网关</td>
                <td>CAINIAO</td>
                <td>123,112.01</td>
                <td>system</td>
                <td>2018-06-20</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">巴拉巴拉巴拉纳balabaababababaaasdfdf</td>
                <td>
                    <button class="btn btn-sm btn-default">查看</button>
                    <button class="btn btn-sm btn-default">修改</button>
                    <button class="btn btn-sm btn-default">停用</button>
                </td>
            </tr><tr>
                <td>XXX</td>
                <td>code</td>
                <td>WWW-1234</td>
                <td>启用</td>
                <td>网关</td>
                <td>CAINIAO</td>
                <td>123,112.01</td>
                <td>system</td>
                <td>2018-06-20</td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">巴拉巴拉巴拉纳balabaababababaaasdfdf</td>
                <td>
                    <button class="btn btn-sm btn-default">查看</button>
                    <button class="btn btn-sm btn-default">修改</button>
                    <button class="btn btn-sm btn-default">停用</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页插件-->
        <div style="text-align: right;">
            <ul id='damo'></ul>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer"></div>
</body>
</html>