<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Title</title>
    <div th:replace="/layout/js :: #js"></div>
    <div th:replace="/layout/css :: #css"></div>
</head>
<body>
<div class="wrapper">
    <div th:replace="layout/header"></div>
    <div th:replace="layout/left"></div>
    <div class="content-wrapper">
        首页
    </div>
    <div th:replace="layout/footer"></div>
    <div th:replace="layout/control"></div>
</div>

</body>
</html>


